* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.container {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  height: 100vh;
  width: 100vw;
  line-height: 1.9rem;
}

body {
  background: repeating-linear-gradient(to right, #ff0f0f, #ff0f0f 10px, #ffffff 10px, #ffffff 20px) 0 0/100vw 14%, linear-gradient(to bottom, #bfe1ff 0%, #bfe1ff 92%, RoyalBlue 92%, RoyalBlue 100%);
  background-repeat: no-repeat;
  font-size: 1.3rem;
}

.text {
  position: fixed;
  border: 1px solid black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.327);
  z-index: 100;
  top: 23vh;
  left: 10vw;
  margin: auto;
  padding: 40px;
  transform: rotate(10deg);
  transform-origin: center center;
  width: 30vw;
  height: 300px;
  background: white;
  overflow-y: auto;
  overflow-x: hidden;
}

.ad {
  position: fixed;
  border: 1px solid black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.327);
  z-index: 1000;
  top: 65vh;
  left: 20vw;
  margin: auto;
  padding: 20px;
  transform: rotate(-13deg);
  transform-origin: center center;
  width: 50vw;
  height: -moz-fit-content;
  height: fit-content;
  background: white;
  overflow-y: auto;
  overflow-x: hidden;
}
.ad p {
  text-align: center;
}

.thanksto {
  position: fixed;
  border: 1px solid black;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.327);
  z-index: 100;
  top: 8vh;
  left: 50vw;
  margin: auto;
  padding: 20px;
  transform: rotate(-5deg);
  transform-origin: center center;
  width: 15vw;
  height: 42.5vh;
  background: white;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: center;
}
.thanksto p {
  text-align: center;
}

.title {
  margin-bottom: 3vh;
  font-weight: 700;
  text-align: center;
}

.colophon {
  position: fixed;
  border: 1px solid black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.327);
  z-index: 100;
  top: 50vh;
  left: 67vw;
  margin: auto;
  padding: 20px;
  transform: rotate(50deg);
  transform-origin: center center;
  width: 30vw;
  height: 30vh;
  background: white;
  overflow-y: auto;
  overflow-x: hidden;
  line-height: 1.6rem;
  justify-content: center;
}
.colophon p {
  text-align: center;
}

.sub {
  font-weight: 700;
}

.name {
  margin-bottom: 5vh;
}

.jump {
  background-color: yellow;
  text-decoration: none;
  color: black;
}

.opening-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  z-index: 1000;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  opacity: 1;
  visibility: visible;
}
.opening-overlay p {
  font-family: "Comic Neue", cursive;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: rgb(255, 123, 198);
}

.opening-overlay.hide {
  opacity: 0;
  visibility: hidden;
}

.container {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.container.show {
  opacity: 1;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.opening-overlay {
  animation: fadeOut 0.4s ease-in-out forwards;
  animation-delay: 0.1s;
}

.container {
  animation: fadeIn 0.4s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.home-button {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: conic-gradient(rgb(41, 112, 41) 0deg 90deg, rgb(246, 43, 43) 90deg 180deg, rgb(76, 76, 198) 180deg 270deg, rgb(255, 187, 0) 270deg 360deg);
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.715);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: all 0.3s ease;
}
.home-button a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.home-button a img {
  width: 60%;
  height: 60%;
}
.home-button:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

.down {
  font-family: "Comic Neue", cursive;
  position: fixed;
  bottom: 0;
  font-size: 1rem;
  background: rgb(0, 0, 0);
  color: white;
}/*# sourceMappingURL=style6.css.map */