@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Comic Neue";
  line-height: 18px;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

.column {
  flex: 1;
  flex-direction: column;
  padding: 20px;
  transition: all 0.6s;
  box-sizing: border-box;
  overflow: auto;
  justify-content: center;
}
.column .img {
  border: 1px dashed black;
  padding: 15px;
  display: block;
  position: relative;
  width: 70%;
  margin: 0 auto;
}
.column .img:hover + .hover-text {
  visibility: visible;
  opacity: 1;
}
.column .hover-text {
  max-width: 20vw;
  cursor: zoom-in;
  font-size: 0.8rem;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 10px;
  border-radius: 0px;
  text-align: center;
  transition: visibility 0.3s ease, opacity 0.3s ease;
  margin-top: -100px;
  margin-left: 1rem;
}

p {
  margin: 15px 0;
  text-align: center;
}

.box {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.6s ease, opacity 0.6s ease;
  border-radius: 10px;
  border: 1px solid black;
  padding: 15px;
  background-color: white;
  color: black;
  font-size: 1rem;
  box-shadow: 1 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 0;
}
.box p {
  margin: 0;
  font-size: 1rem;
  line-height: 20px;
  text-align: left;
}
.box .alt-text {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.6s ease, opacity 0.6s ease;
}

.interview .ques1 {
  text-align: left;
  padding: 8px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  border: 1px solid #000;
  background-color: #ffffae;
  border-radius: 10px;
}
.interview .ques1f {
  text-align: left;
  padding: 8px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  border: 1px solid #000;
  background-color: #dada5e;
  border-radius: 10px;
  margin-left: 2vh;
}
.interview .ques2 {
  text-align: left;
  padding: 8px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  border: 1px solid #b37777;
  background-color: #9a6161;
  color: #000;
  border-radius: 10px;
}
.interview .ques2f {
  text-align: left;
  padding: 8px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  border: 1px solid #361c1c;
  background-color: #713c3c;
  color: #000;
  border-radius: 10px;
  margin-left: 2vh;
}
.interview .ques3 {
  text-align: left;
  padding: 8px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  border: 1px solid #547aa1;
  background-color: #a4bada;
  color: #31253e;
  border-radius: 10px;
}
.interview .ques3f {
  text-align: left;
  padding: 8px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  border: 1px solid #2a3f53;
  background-color: #6794b7;
  color: #241633;
  border-radius: 10px;
  margin-left: 2vh;
}
.interview .ques4 {
  text-align: left;
  padding: 8px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  border: 1px solid #54a167;
  background-color: #3d4d3e;
  color: #b4c1af;
  border-radius: 10px;
}
.interview .ques4f {
  text-align: left;
  padding: 8px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  border: 1px solid #0d1710;
  background-color: #1b381d;
  color: #679256;
  border-radius: 10px;
  margin-left: 2vh;
}
.interview .ques5 {
  text-align: left;
  padding: 8px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  border: 1px solid #ffa970;
  background-color: #ffd978;
  color: #521b00;
  border-radius: 10px;
}
.interview .ques5f {
  text-align: left;
  padding: 8px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  border: 1px solid #56a93f;
  background-color: #dad898;
  color: #b34b17;
  border-radius: 10px;
  margin-left: 2vh;
}
.interview .ques6 {
  text-align: left;
  padding: 8px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  border: 1px solid #3f1342;
  background-color: #b794bd;
  color: #3c263c;
  border-radius: 10px;
}
.interview .ques6f {
  text-align: left;
  padding: 8px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  border: 1px solid #670e6d;
  background-color: rgba(151, 118, 156, 0.645);
  color: #590159;
  border-radius: 10px;
  margin-left: 2vh;
}
.interview .ques7 {
  text-align: left;
  padding: 8px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  border: 1px solid #6b6d70;
  background-color: #e4f4d9;
  color: #6f738a;
  border-radius: 10px;
}
.interview .ques7f {
  text-align: left;
  padding: 8px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  border: 1px solid #5079b6;
  background-color: #bceb9d;
  color: #46539c;
  border-radius: 10px;
  margin-left: 2vh;
}
.interview .ans1 {
  color: #120833;
  text-align: right;
  margin-left: 40%;
  width: 60%;
}
.interview .ans2 {
  color: #6e6e6e;
  text-align: right;
  margin-left: 40%;
  width: 60%;
}
.interview .ans3 {
  color: #858fcb;
  text-align: right;
  margin-left: 40%;
  width: 60%;
}
.interview .ans4 {
  color: #5f0028;
  text-align: right;
  margin-left: 40%;
  width: 60%;
}
.interview .ans5 {
  color: #00591c;
  text-align: right;
  margin-left: 40%;
  width: 60%;
}
.interview .ans6 {
  color: #d796ca;
  text-align: right;
  margin-left: 40%;
  width: 60%;
}
.interview .ans7 {
  color: #007083;
  text-align: right;
  margin-left: 40%;
  width: 60%;
}

.snack-name {
  font-weight: 700;
  margin-bottom: 10px;
  cursor: help;
  font-size: 1.93rem;
  line-height: 2.06rem;
  text-align: center;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 10%;
}

.snack-name:hover + .box {
  visibility: visible;
  opacity: 1;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 15px;
}

.snack-name:hover + .box .alt-text {
  visibility: visible;
  opacity: 1;
}

.column:nth-child(1) {
  color: black;
  background-color: #909fc1;
  position: relative;
}
.column:nth-child(1) img {
  border: 2px dashed #ffffae;
  color: #ffffae;
}
.column:nth-child(1) .box {
  background-color: rgb(232, 232, 116);
  color: #333;
}

.column:nth-child(2) {
  background-color: #491c0f;
  color: red;
  position: relative;
}
.column:nth-child(2) img {
  border: 2px dashed #c70707;
  color: #c70707;
}
.column:nth-child(2) .box {
  background-color: #7c2424;
  color: rgb(197, 167, 167);
}

.column:nth-child(3) {
  background-color: #231b4e;
  color: #7ad1d1;
  position: relative;
}
.column:nth-child(3) img {
  border: 2px dashed #b3a9ff;
  color: #b3a9ff;
}
.column:nth-child(3) .box {
  background-color: #add8e6;
  color: #000;
}

.column:nth-child(4) {
  background: linear-gradient(green, white);
  color: #152d39;
  position: relative;
}
.column:nth-child(4) img {
  border: 2px dashed rgb(65, 65, 0);
  color: #7e470f;
}
.column:nth-child(4) .box {
  background-color: #d3d3d3;
  color: #333;
}

.column:nth-child(5) {
  color: #ff6a00;
  background: linear-gradient(white, rgb(255, 255, 255), rgb(255, 151, 77));
  position: relative;
}
.column:nth-child(5) img {
  border: 2px dashed #ff6a00;
  color: #ff6a00;
}
.column:nth-child(5) .box {
  background-color: #e6ffe6;
  color: #006400;
}

.column:nth-child(6) {
  color: #78e767;
  background-color: #7f1343;
  position: relative;
}
.column:nth-child(6) img {
  border: 2px dashed #78e767;
  color: #78e767;
}
.column:nth-child(6) .box {
  background-color: #d8bfd8;
  color: #4b0082;
}

.column:nth-child(7) {
  color: rgb(47, 145, 160);
  background-color: #ffee00;
  position: relative;
}
.column:nth-child(7) img {
  border: 2px dashed #15335e;
  color: #15335e;
}
.column:nth-child(7) .box {
  background-color: #fffacd;
  color: #808080;
}

.column:hover {
  flex: 3;
  font-size: 1rem;
  line-height: 22px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    position: relative;
    display: flex;
  }
  .container .column {
    flex: 2;
    width: 100%;
    transition: all 0.8s ease;
  }
  .column.clicked {
    pointer-events: inherit;
  }
  .column:hover, .column:active {
    flex: 80%;
    font-size: 16px;
    line-height: 18px;
  }
}
.opening-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 213, 0);
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  opacity: 1;
  text-align: center;
  visibility: visible;
}
.opening-overlay p {
  font-size: 2rem;
  text-align: center;
}

.opening-overlay.hide {
  opacity: 0;
  visibility: hidden;
}

.container {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.container.show {
  opacity: 1;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.opening-overlay {
  animation: fadeOut 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

.container {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.home-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: conic-gradient(rgb(41, 112, 41) 0deg 90deg, rgb(246, 43, 43) 90deg 180deg, rgb(76, 76, 198) 180deg 270deg, rgb(255, 187, 0) 270deg 360deg);
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.715);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: all 0.3s ease;
}
.home-button a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.home-button a img {
  width: 60%; /* 아이콘 크기 */
  height: 60%;
}
.home-button:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

@media screen and (max-width: 480px) {
  .opening-overlay p {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=style3.css.map */